$color_fuente:#89826E;
$color_fondo:lightgray;
$color_footer:#89826e7f;
$color_negro:#000000;

$titulo_fuente:'Black Han Sans', sans-serif;
$general_fuente:'Roboto', sans-serif;
$footer_fuente:'Dongle', sans-serif;