@import "vars";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: $color_fondo; 
    font-family: $general_fuente;
}

/*----------------ALL HEADER------------------*/
.header {
    background-color: $color_negro;
    display: flex;
    justify-content: space-around;
    a {
        .header__logo{
            border-radius: 1.5rem;
            border-image: round; 
        }
    }
    nav{
        .navbar-toggler{ 
        background-color: $color_fuente;
        }
        .menu{
            padding: 0;
            margin: 15px auto;
            list-style-type: none;
            text-align: right;
            li{
                display: inline-block;
                text-align: center;
                a{
                    padding: 15px;
                    margin: 30px;
                    color: $color_fuente;
                    text-decoration: none;
                    display: flex;
                    font-size:18px;
                    font-weight: bold;
                    &:hover{
                        background-color: $color_fuente;
                        color: $color_negro;
                        border-radius: 15px;
                    }
                }
            }           
        }
    } 
}

/*----------------INDEX PAG------------------*/
main{
    .main__titulo{
        font-family: $titulo_fuente;
        font-size: 3rem;
        text-align: center;
        padding: 15px;
    }
    .main__parrafo{
        font-family: $general_fuente;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
    }
    .main__carrusel{
        justify-content: center;
        text-align: center;
        width: 1200px; 
        margin: 0 auto; 
    }
    .main__cards{
        padding: 2rem;
        .card__item{
            background-color: $color_fondo;
            border: #000000 0.2rem solid;
        }
        .card-body{
            .card-title{
                font-weight: bold;
            }
            .card-text{
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

/*----------------NOSOTROS PAG------------------*/
main{
    .nosotros__section{
        text-align: left;
        margin: 15px auto;
        padding: 30px;
        .subtitulo__section{
            font-weight: bold;
        }
        .nosotros__parrafo{
            padding: 10px;
            font-size: 22px;
            .nosotros__links{
                text-decoration: none;
                color: $color_fuente;
                font-size:22px;
                font-weight: bold;
                font-style: italic;
                &:hover{
                    text-decoration: underline;
                    color: $color_negro;
                }
            }
        }
    }
    .nosotros__section2{
        text-align: right;
        margin: 15px auto ;
        padding: 30px;
        .subtitulo__section{
            font-weight: bold;
        }
        .nosotros__parrafo{
            padding: 10px;
            font-size: 22px;
            .nosotros__links{
                text-decoration: none;
                color: $color_fuente;
                font-size:22px;
                font-weight: bold;
                font-style: italic;
                &:hover{
                    text-decoration: underline;
                    color: $color_negro;
                }
            }
        }
    }
}

/*----------------PORTAFOLIO PAG------------------*/
main{
    .main__contenedor{
        text-align: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-gap: 10px;
        grid-template-areas: 
        "img_c1 img_c2 img_c3"
        "img_h1 img_h1 img_v1"
        "img_h2 img_h2 img_v1"
        ;
        .hijo{
            opacity: .50;
            &:hover{
                opacity: 1;
                border: solid 5px white;
            }
        }   
        .img_c1 {
            grid-area: img_c1;
            width: 100%;
            height: 100%; 
        }
        
        .img_c2 {
            grid-area: img_c2;
            width: 100%;
            height: 100%;
        }
        
        .img_c3 {
            grid-area: img_c3;
            width: 100%;
            height: 100%;
        }
        
        .img_h1 {
            grid-area: img_h1;
            width: 100%;
            height: 100%;
        }
        
        .img_v1 {
            grid-area: img_v1;
            width: 100%;
            height: 100%;
        }
        
        .img_h2 {
            grid-area: img_h2;
            width: 100%;
            height: 100%;
        }
    }
}

/*----------------SERVICIOS PAG------------------*/
.servicios__main{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url(../img/fondo_pared.jpeg) no-repeat;
    background-size: cover;
    height: 78.7vh;
    .vanish{
        visibility: hidden;
    }
    .servicios__section{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 5px 10px;
        .servicios__h2{
            font-size: 65px;
            font-weight: bold;
            color: azure;
        }
        .servicios__h3{
            font-size: 50px;
            font-weight: bold;
            color: azure;
        }
        .servicios__parrafo{
            font-size: 30px;
            font-weight: bold;
            color: azure;
            .servicios__links{
                font-size:30px;
                font-weight: bold;
                color: azure;
                &:hover{
                    text-decoration: underline;
                    color:$color_negro;
                }
            }
        }
    }
}
/*----------------CONTACTO PAG------------------*/
main{
    .main__section{
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        .formulario{
            background-color:azure;
            display: flex;
            flex-direction: column;
            text-align: right;
            border-radius: 1.5rem;
            padding: 1.5rem;
            margin: 15px;
            width: 600px;
            .form__item{
                background-color: #f0ffff;
                margin: 10px;
                padding: 5px;
                border-radius: 5px;
                border:slategrey solid 3px;
            }
            .form__submit{
                background-color: #80808098;
                text-align: center;
                border: none;
                color: #000000;
                font-size: 15px;
                font-weight: bold;
                padding: 10px;
                margin: 15px;
                border-radius: 5px; 
                &:hover{
                    background-color: #708090;
                    color:#fffafa;
                }
            }
        }
    .main__iframe__map{
        width: 550px;
        height: 430px;
        border-radius: 15px;
        }
    }
    .section__titulo{
        text-align: left;
        padding-left: 20px;
        font-weight: bold;
    }
    .section__redes{
        display: flex;
        justify-content:center;
        padding: 15px;
        margin: 15px;   
        .redes__item{
            padding: 5px;
            margin: 15px;
        }
    }
}

/*----------------ALL FOOTER------------------*/
.footer{
    background-color: $color_footer;
    font-family: $footer_fuente;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    bottom: 0;
    width: 100%;
    .footer__span{
        font-style: italic;
        font-weight: bold;
        .footer__link{
            text-decoration: none;
            color: $color_negro;
            &:hover{
                text-decoration: underline;
                color: whitesmoke;
            }
        }
    } 
}

/*----------------MEDIA QUERIES | ALL ASSET'S------------------*/

@media (max-width: 360px) {
    .header{
        .header__logo {
            width: 75%;
        }
        .navbar-collapse{
            position: absolute;
            z-index: 2;
            top: 115px;
            right: 0;
            margin: 0 auto;
            background-color: $color_negro;
            border-radius: 5px;
            .navbar-nav {
                margin: 0 auto;
                display: flex;
                justify-content: end;
                .nav-link {
                    height: 30px;
                    width: 95px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

/*----------------MEDIA QUERIE | INDEX------------------*/
@media (max-width: 360px) {
    main{
        .main__parrafo{
            padding: 10px;
        }
        .main__carrusel{
            width: 100%;
            height: 180px;
            display: flex;
            text-align: center;
        }
    }
}

/*----------------MEDIA QUERIE | NOSOTROS------------------*/
@media (max-width:360px) {
    main{
        .nosotros__section{
            padding: 15px;
            margin: 0; 
            .nosotros__parrafo{
                font-size: 18px;
                .nosotros__links{
                    font-size: 18px;
                }
            }
        }
        .nosotros__section2{
            padding: 15px; 
            margin: 0;
            .nosotros__parrafo{
                font-size: 18px;
                .nosotros__links{
                    font-size: 18px;
                }
            }
        }
    }
}

/*----------------MEDIA QUERIE | PORTAFOLIO------------------*/
@media (max-width: 360px) {
    main{
    .main__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (5, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
    "img_h1 img_h1"
    "img_c1 img_v1"
    "img_c2 img_v1"
    "img_h2 img_h2"
    "img_c3 img_c3"
    ;
    }
}       
}

/*----------------MEDIA QUERIE | SERVICIOS------------------*/
@media (max-width: 360px) {
    .servicios__main{
        height: 79.9vh;
        .servicios__section{
            margin-top: 90px;
            .servicios__h2{
                font-size: 30px;
                padding: 10px;
            }
            .servicios__h3{
                font-size: 25px;
                padding: 5px;
            }
            .servicios__parrafo{
                font-size: 20px;
                padding: 5px;
                .servicios__links{
                    font-size: 20px;
                }
            }
        }
    }
}

/*----------------MEDIA QUERIE | CONTACTO------------------*/
@media (max-width: 360px) {
    main{
        .main__titulo2{
            padding: 15px;
        }
        .main__section{
            display: flex;
            flex-direction: column;
            padding: 0;
            .formulario{
                width: 100%;
                margin: 20px auto;
                padding: 20px auto;
            }
            .main__map{
                margin: 0;
                .main__iframe__map{
                    width: 100%;
                    height: 350px;
                }
            }    
        }
        .redes{
            padding-top: 10px;
        }
        .section__redes{
            display: flex;
        }
    }
}